
 .table-fixed {
   table-layout: fixed;

 }
 
 .table-fixed td,
 .table-fixed th {
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
 }

 /* File Name */
 .table-fixed th:nth-child(1), 
.table-fixed td:nth-child(1) {
  width: 10%; 
}

/* Text */
.table-fixed th:nth-child(2),
.table-fixed td:nth-child(2) {
  width: 35%; 
}

/* Number */
.table-fixed th:nth-child(3),
.table-fixed td:nth-child(3) {
  width: 15%; 
}

/* Hex */
.table-fixed th:nth-child(4),
.table-fixed td:nth-child(4) {
  width: 40%; 
}

@media (max-width: 768px) {
   .table-fixed th:nth-child(1),
   .table-fixed td:nth-child(1),
   .table-fixed th:nth-child(3),
   .table-fixed td:nth-child(3) {
     width: 15%;
   }
 
   .table-fixed th:nth-child(2),
   .table-fixed td:nth-child(2),
   .table-fixed th:nth-child(4),
   .table-fixed td:nth-child(4) {
     width: 35%;
   }
}